.burger {
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 32px;
    cursor: pointer;
    color: #333;
    transition: 1s;
    z-index: 100;
}

.burger:hover {
    color: #ee00ee;
}

.open {
    transform: translateX(650px);
}
